$main-font-family: 'DM Sans', sans-serif;
$text-font-family: 'Titan One', cursive;
$main-white: #ffffff;
$main-pink: #d41443;
$section-gray: #e5e5e5;
$section-pink: #fff5f6;
$card-bg-pink: #ffb8ca;
$card-bg-yellow: #f0d1a5;
$card-bg-green: #c2e297;

//anima
