$main-font-family: 'DM Sans', sans-serif;
$text-font-family: 'Titan One', cursive;
$main-white-color: #ffffff;
$main-pink-color: #d41443; //основной ярко-розовый цвет текста
$main-pink-color-hover-btn: #c7133e; //розовый цвет кнопок при ховере
$pink-text-color: #ffa5ba; //основной текст заколовков секций
$main-black-color: #000000; //основной черный цвет текста
$hover-gray: #ecebeb; //серый цвет бэкграунда в кнопке при ховере
$customer-review-grey: #fafafa; //серый комментариев пользователей
$dot-gray-color: #d9d9d9; //серый цвет маркеров-точек слайдера
$section-gray-color: #e5e5e5; //серый цвет бэкграунда в карточке
$section-pink: #fff5f6; //розовый цвет бэкграунда в большой секции
$card-bg-pink: #ffb8ca; //розовый цвет бэкграунда в карточке
$card-bg-yellow: #f0d1a5; //грязно-желтый цвет бэкграунда в карточке
$card-bg-green: #c2e297; //зеленый цвет бэкграунда в карточке
$mobile-menu-bg-color: #df6884; //цвет бэкграунда всплывающего меню для планшета и мобилки
$modal-menu-border-color: #e18298; //цвет бордера элементов всплывающего меню для планшета и мобилки
$copy-right-color: #907e82; //текст текста копирайт
$footer-border-color: #e1e1e1;
$social-links-bg-color: #fea5bb;

//animation parameter
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
