<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">contacts</h2>
        <div class="contacts-container">
            <ul class="contacts-list list">
                <li class="contacts-item">
                    <p class="contacts-title">CAFE</p>
                    <div class="contacts-section-cards">
                        <p class="contacts-city">Chicago</p>
                        <p class="contacts-descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="contacts-cards list">
                        <li class="contacts-days">Monday - Friday</li>
                        <li class="contacts-time">06:00 AM - 10:00 PM</li>
                        <li class="contacts-days">Saturday - Sunday</li>
                        <li class="contacts-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <address class="contacts-address">
                        <ul class="contacts-cards-list list">
                            <li class="contacts-link"><a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0)
                                    383 766 284</a>
                            </li>
                            <li><a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
                <li class="contacts-item">
                    <p class="contacts-title contacts-title--green">FOOD TRUCK</p>
                    <div class="contacts-section-cards">
                        <p class="contacts-city">Los Angels</p>
                        <p class="contacts-descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="contacts-cards list">
                        <li class="contacts-days">Monday - Friday</li>
                        <li class="contacts-time">06:00 AM - 10:00 PM</li>
                        <li class="contacts-days">Saturday - Sunday</li>
                        <li class="contacts-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <address class="contacts-address">
                        <ul class="contacts-cards-list list">
                            <li class="contacts-link"><a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0)
                                    383 766 284</a>
                            </li>
                            <li><a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
                <li class="contacts-item">
                    <p class="contacts-title">CAFE</p>
                    <div class="contacts-section-cards">
                        <p class="contacts-city">New York</p>
                        <p class="contacts-descriptions">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="contacts-cards list">
                        <li class="contacts-days">Monday - Friday</li>
                        <li class="contacts-time">06:00 AM - 10:00 PM</li>
                        <li class="contacts-days">Saturday - Sunday</li>
                        <li class="contacts-time">08:00 AM - 16:00 PM</li>
                    </ul>
                    <address class="contacts-address ">
                        <ul class="contacts-cards-list list">
                            <li class="contacts-link"><a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0)
                                    383 766 284</a>
                            </li>
                            <li><a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>
            </ul>
            <div class="contacts-btns">
                <a class="contacts-button location-btn link contacts-button--pink" href="">
                    Our Locations
                    <svg class="arrow-icon">
                        <use class="arrow-icon arrow-contacts" href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                    </svg>
                </a>
                <a class="contacts-button franchise-btn link contacts-button--white" href="#">
                    Franchise
                    <svg class="arrow-icon">
                        <use class="arrow-icon arrow-contacts" href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                    </svg>
                </a>
                <!--  -->
                <!-- <button class="about-button location-btn">
                    Our Locations
                    <svg class="arrow-icon">
                        <use class="arrow-icon" href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                    </svg>
                </button> -->

                <!-- <button class="about-button franchise-btn">
                    Franchise
                    <svg class="arrow-icon">
                        <use class="arrow-icon" href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                    </svg>
                </button> -->
            </div>
            <!-- /<ul class="contacts-buttons-list list">
                <li class="contacts-buttons-item">
                    <a href="https://g.page/goitua?share" class="contacts-buttons btn link" target="blank">Our
                        Locations
                        <svg class="contacts-arrows" width="6px" height="10px">
                            <use href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                        </svg>
                    </a>
                </li>
                <li class="contacts-buttons-item">
                    <a href="https://g.page/goitua?share" class="link contacts-buttons btn " target="blank">Franchise
                        <svg class="contacts-arrows" width="6px" height="10px">
                            <use href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                        </svg>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</section>