<section class="customer-reviews container">
<h2 class="visually-hidden">Customer reviews for our products</h2>
<div class="slider">
    <img class="slider__image slider__image--margin" src="./images/customer-reviews/face1.png" alt="" >
    <p class="slider_customer-review-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <h3 class="slider__customer-about">
            Emily, Los Angeles
    </h3>
</div>
</section>