<section class="customer-reviews container">
<h2 class="visually-hidden">Customer reviews for our products</h2>
<div class="sliders-wrapper">
<div class="sliders">
    <div class="slider s1">
        <img class="slider__image slider__image--margin" src="./images/customer-reviews/face1.png"
            alt="Customer`s photo">

        <div class="slider__body">
            <div class="slider__customer-review-text-wrapper">
                <p class="slider__customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam
                    sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <h3 class="slider__customer-name">
            Emily, Los Angeles
        </h3>
    </div>


</div>

<!-- slider radio buttons -->

<div class="radiobtn-group">
    <input class="radiobtn" type="radio" name="radiobtn" id="radio1" checked>
    <input class="radiobtn" type="radio" name="radiobtn" id="radio2">
    <input class="radiobtn" type="radio" name="radiobtn" id="radio3">

    <label class="label-radio" for="radio1">
        <svg class="slider__icon">
            <use href="./images/svg/sprite.svg#icon-home"></use>
        </svg>
    </label>
    <label class="label-radio" for="radio2">
        <svg class="slider__icon">
            <use href="./images/svg/sprite.svg#icon-dot-slider"></use>
        </svg>
    </label>
    <label class="label-radio" for="radio3">
        <svg class="slider__icon">
            <use href="./images/svg/sprite.svg#icon-dot-slider"></use>
        </svg>
    </label>

</div>

</div>


</section>