<section class="customer-reviews container">
<h2 class="visually-hidden">Customer reviews for our products</h2>
<div class="sliders-wrapper">

    <input class="radiobtn visually-hidden" type="radio" name="radiobtn" id="radio1" checked>
    <input class="radiobtn visually-hidden" type="radio" name="radiobtn" id="radio2">
    <input class="radiobtn visually-hidden" type="radio" name="radiobtn" id="radio3">

<div class="sliders">
    

    <div class="slide s1">
        <img class="slide__image slide__image--margin" src="./images/customer-reviews/face1.png"
            alt="Customer`s photo">

        <div class="slide__body">
            <div class="slider__customer-review-text-wrapper">
                <p class="slider__customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <h3 class="slider__customer-name">
            Emily, Los Angeles
        </h3>
    </div>
    <div class="slide s2"> <!--visually-hidden-->
        <img class="slide__image slide__image--margin" src="./images/customer-reviews/face2.png" alt="Customer`s photo">
        
        <div class="slide__body">
            <div class="slider__customer-review-text-wrapper">
                <p class="slider__customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <h3 class="slider__customer-name">
            Nancy, Chicago
        </h3>
    </div>

    <div class="slide s3"><!--visually-hidden-->
        <img class="slide__image slide__image--margin" src="./images/customer-reviews/face3.png" alt="Customer`s photo">
        
        <div class="slide__body">
            <div class="slider__customer-review-text-wrapper">
                <p class="slider__customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <h3 class="slider__customer-name">
            Gloria, New York
        </h3>
    </div>


</div>

<!-- slider radio buttons -->

<div class="radiobtn-group">

    <label class="label-radio" for="radio1"></label>
    <label class="label-radio" for="radio2"></label>
    <label class="label-radio" for="radio3"></label>

</div>

</div>


</section>