<section class="gallery-grid">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="images-list list">
        <li class="list-item list-item-01">
            <img src="./images/image-gallery-grid/ice-cream-01.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-02">
            <img src="./images/image-gallery-grid/ice-cream-02.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-03">
            <img src="./images/image-gallery-grid/ice-cream-03.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-04">
            <img src="./images/image-gallery-grid/ice-cream-04.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-05">
            <img src="./images/image-gallery-grid/ice-cream-05.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-06">
            <img src="./images/image-gallery-grid/ice-cream-06.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-07">
            <img src="./images/image-gallery-grid/ice-cream-07.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-08">
            <img src="./images/image-gallery-grid/ice-cream-08.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-09">
            <img src="./images/image-gallery-grid/ice-cream-09.png" alt="Ice cream">
        </li>
        <li class="list-item list-item-10">
            <img src="./images/image-gallery-grid/ice-cream-10.png" alt="Ice cream">
        </li>
    </ul>
</section>