<section class="gallery">
  <picture>
    <source srcset="./imgs/" media="(min-width: 1200px)" type="image/jpeg" />

    <source
      srcset="./i 1x, ./images/team-members/jpg/tablet-prod-designer2x.jpg 2x"
      media="(min-width: 768px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/team-members/jpg/mobile-prod-designer.jpg   1x,
        ./images/team-members/jpg/mobile-prod-designer2x.jpg 2x
      "
      media="(max-width: 767px)"
      type="image/jpeg"
    />

    <img src="./images/team/jpg/mobile-prod-designer.jpg" alt="Игорь Демьяненко" />
  </picture>
</section>
