<body>
  <section class="gallery container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture class="pictutres">
      <source
        srcset="
          ./images/images-gallery/desk-gallery.jpg 1x,
          images/images-gallery/desk-gallery2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/images-gallery/tablet-gallery.jpg 1x,
          images/images-gallery/tablet-gallery2x.jpg 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/images-gallery/mobile-gallery.jpg 1x,
          images/images-gallery/mobile-gallery2x.jpg 2x
        "
        media="(max-width: 767px)"
        type="image/jpeg"
      />

      <img src="./images/images-gallery/mobile-gallery.jpg" alt="Photo collage" />
    </picture>
  </section>
</body>
