<header>
    <div class="section-header" id="home">

            <div class="header-nav">
                <div class="header-logo">
                    <a class="logo-link" href="./index.html">
                        <picture>
                            <source
                              srcset="
                              ./images/header/logo.png 1x, ./images/header/logo@2x.png 2x"
                            />
                            <img
                              src="./images/header/logo.png"
                              alt="icecream"
                            />
                        </picture>
                    </a>
                </div>
                <nav class="navigate">
                    <ul class="nav-list list">
                        <li class="nav-item"><a class="currentlink nav-menu-item link" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-menu-item link" href="#about">About us</a></li>
                        <li class="nav-item"><a class="nav-menu-item link" href="#made">How it’s made?</a></li>
                        <li class="nav-item"><a class="nav-menu-item link" href="#products">Our products</a></li>
                        <li class="nav-item"><a class="nav-menu-item link" href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <button class="menu-open is-open" type="button" data-menu-open>
                    <svg class="menu-open-icon">
                        <use href="./images/svg/sprite.svg#icon-Burger"></use>
                    </svg>
                </button>
                <div class="mobile-menu" data-menu>
                    <div class="mobile-menu-container"><div class="close" data-menu>
                        <div class="container">
                            <button class="menu-close" data-menu-close>
                                <svg class="menu-close-icon">
                                    <use href="./images/svg/sprite.svg#icon-close"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                        <div class="btn">
                            <button class="btn-bynow btn-menu" type="button">By now
                                <svg class="btn-arrow">
                                    <use href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                                </svg>
                            </button>
                        </div>
                        <nav class="navigate-menu">
                            <ul class="nav-list-menu list">
                                <li class="nav-item menu-item"><a class="nav-menu-item link" href="#about">About us</a></li>
                                <li class="nav-item menu-item"><a class="nav-menu-item link" href="#home">Home</a></li>
                                <li class="nav-item menu-item"><a class="nav-menu-item link" href="#made">How it’s made?</a></li>
                                <li class="nav-item menu-item"><a class="nav-menu-item link" href="#products" id="products">Our products</a></li>
                                <li class="nav-item menu-item"><a class="nav-menu-item link" href="#contact" id="contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-btn">
                    <div class="btn">
                        <button class="btn-bynow" type="button">By now
                            <svg class="btn-arrow">
                                <use href="./images/svg/sprite.svg#icon-arrow-btn"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

    </div>
</header>
