<section class="hero">
    <div class="hero-container">
        <div class="hero-wrapper">
            <div class="hero-left">
                <div class="slogan">
                    <div class="hero-h">
                        <h1>
                            <span class="slogan-1">ice cream made with</span> <span class="slogan-2">passion</span>
                        </h1>
                    </div>
                    <div class="hero-buttons" type="button">
                        <button class="hero-products">
                            Products
                        </button>
                        <button class="made" type="button">
                            How it’s made?
                        </button>
                    </duv>
                </div>
                <div class="hero-left-milk">
                    <div class="hero-left-milk-wrap">
                        <div class="img-jug"></div>
                        <div class="hero-text-wrap">
                            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <div class="next">
                                <svg class="next-arrow">
                                    <use href="/images/svg/sprite.svg#icon-arrow-right-2"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle">
        <div class="hero-img"></div>
        </div>
            <div class="hero-right">
                <div class="hero-right-numbers">
                    <ul class="hero-numbers-cafes list">
                        <li class="hero-numbers-items number">
                            16
                        </li>
                        <li class="hero-numbers-items number-text">
                            cafes
                        </li>
                    </ul>
                    <ul class="hero-numbers-trucks list">
                        <li class="hero-numbers-items number">
                            23
                        </li>
                        <li class="hero-numbers-items number-text">
                            food trucks
                        </li>
                    </ul>
                </div>
            <div class="hero-right-img"></div>
        </div>
    </div>
</section>