<section class="products">
  <div class="container products-wraper">
    <h2 class="title section-title">
      <span class="section-title-label">100% natural </span>
      products
    </h2>
    <div class="products-item-container">
      <ul class="products-item list">
        <li class="products-container products-container-cream">
          <h3 class="title products-container-title">ice cream</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="https://art-lunch.ru/recipe/ice-cream-plombir_foto/" class="btn-new-page">
            <svg class="products-link-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="products-container products-container-coffee">
          <h3 class="title products-container-title">ice coffee</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a
            href="https://leagueofcoffee.ru/reczeptyi-kofe/recept-iced-kofe.html"
            class="btn-new-page"
          >
            <svg class="products-link-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="products-container products-container-milkshakes">
          <h3 class="title products-container-title">milkshakes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="https://www.delish.com/cooking/g1504/milkshake-recipes/" class="btn-new-page">
            <svg class="products-link-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
