.section-contacts{
    padding: 113px;
    background-color: $section-pink;
    @media screen and (min-width: 320px) {
    background-image: linear-gradient(
      to bottom,
      $main-white-color 0%, 7%,
      $section-pink 7% 100%);
  }
}
.contacts-section{
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-left: -20px;
}

.contacts-item {
margin-left: 20px;
margin-right: 20px;
padding: 43px 18px;
flex-basis: calc((100% - 60px) / 3);
background:$main-white-color;
box-shadow: 0px 8px 30px rgba(133, 133, 133, 0.1);
border-radius: 24px;
min-width: 220px;
}

.contacts-title {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  padding: 3px 25px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  background: $card-bg-yellow;
  color:$main-white-color;
}

.contacts-section-cards{
padding-top: 25px;
padding-bottom: 25px;
border-bottom: 1px solid #E1E1E1;
:last-child{
  padding-bottom: 0;
  border-bottom: none;
}
}
.contacts-city{
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $main-black-color;
}

.contacts-descriptions{
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 10px;
  color:$copy-right-color;
}
.contact-link{
  font-family:$main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $copy-right-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
:hover,
:focus{
  color:blue;
}
}
.contacts-days{
font-family:$main-font-family ;
font-weight: 500;
font-size: 12px;
line-height: 1.86;
color: $main-black-color;
}

.contacts-time {
  font-family:$main-font-family ;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color:$pink-text-color;

  :not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts-buttons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;

  .item {
    :last-child {
      margin-top: 10px;
    }
  }

  .btn {
    display: flex;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: 162px;
    height: 44px;
    background: #ECEBEB;
  }
}


.contacts-arrows{
 stroke: $main-pink-color;
  margin-left: 12px;
  width: 6px;
  height: 10px;
}

@media screen and (min-width: 768px) {
    .section-contacts {
      padding-bottom: 158px;
      background-image: linear-gradient(
        to bottom,
        $main-white-color 0% 12%,
        $section-pink 12% 100%
      );
    }

    .contacts-buttons {
      flex-direction: row;
      justify-content: center;
      padding: 25px 54px 25px 35px;

        .item {
        :last-child {
        margin: 0 0 0 15px;
      }
    } 

    .btn {
    width: fit-content;
    padding: 0 35px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .section-contacts {
    padding-bottom: 165px;
    background-image: url("../images/contacts/contacts-section-bg1x.png"), linear-gradient(to bottom,  $main-white-color 0% 17%,  $section-pink 17% 100%);
    background-position: left 0 top 100px, left top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contacts-list{
    margin-left: -30px;
    margin-top: -30px;
  }

  .contacts-item {
    padding: 55px 45px;
    max-width: 330px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }

  .contacts-buttons {
    padding-top: 85px;

    .btn {
      padding: 0 40px;
    }
  }
}