.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

.sliders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliders {
  display: flex;
  // width: 300%;
  // height: 100%;
  // position: relative;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__image {
  width: 85px;
  height: 85px;
}

.slide__image--margin {
  margin-bottom: 15px;
}

//===========================================================================================================================
.slider__customer-review-container {
  padding: 0 20px;
}

.slider__customer-review-text-wrapper {
  background-color: #fafafa;
  padding-top: 70px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;

  margin-bottom: 30px;
}

.slider__customer-review-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  padding: 0 10px;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 30px);
  text-align: center;
}

// .slider__customer-review-text::before {
//   content: '';
//   display: inline-block;
//   background-image: url('../images/svg/quotes-icon.svg');
//   background-position: center;
//   background-repeat: no-repeat;
// }

#radio1:checked ~ .radiobtn-group label[for='radio1']::before {
  background-image: url('../images/svg/marker-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#radio2:checked ~ .radiobtn-group label[for='radio2']::before {
  background-image: url('../images/svg/marker-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#radio3:checked ~ .radiobtn-group label[for='radio3']::before {
  background-image: url('../images/svg/marker-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .customer-reviews {
    // padding-top: 80px;
    // padding-bottom: 86px;
  }

  .slider__customer-review-container {
    width: 440px;

    // margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .slider__customer-review-container {
    width: 740px;
  }

  .slide__body {
    width: 620px;
    margin: 0 auto;
  }

  .slider__customer-review-text-wrapper {
    padding-top: 30px;
    padding-right: 36px;
    padding-bottom: 28px;
    padding-left: 40px;

    margin-bottom: 24px;
  }

  .slider__customer-review-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 123px;
    padding-bottom: 132px;
  }

  .slider__customer-review-container {
    width: 1090px;
  }

  .slide__body {
    width: 926px;
  }

  .slider__customer-review-text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px;
  }

  .slider__customer-review-text-wrapper {
    padding-top: 32px;
    padding-right: 54px;
    padding-bottom: 32px;
    padding-left: 50px;

    margin-bottom: 15px;
  }
}

//============================================================================================================================

.slider__customer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

  font-weight: 500;
  font-size: 20;
  line-height: 1.86;
  letter-spacing: 0;
}

.slider__customer-name::before {
  content: '';
  display: block;
  background-image: url('../images/svg/dots.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 4px;
  margin-bottom: 15px;
}

.radiobtn-group {
  display: flex;
  justify-content: center;
}

.radiobtn {
  position: absolute;
  top: -50px;
  bottom: 0;
}

.label-radio::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 12px;
  height: 12px;
  background-image: url('../images/svg/dot-slider.svg');
  background-repeat: no-repeat;
}

.label-radio + .label-radio {
  margin-left: 18px;
}
.slider__icon {
  width: 12px;
  height: 12px;
  cursor: pointer;

  fill: $dot-gray-color;
}

.slider__icon:hover {
  fill: $copy-right-color;
}

// .label-radio::after {
//   content: "";
//   display: inline-block;
//   background-image: url();
// }
