.footer-section {
  background-color: $section-pink;
  //   width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  margin-bottom: 97px;

  @media screen and (min-width: 768px) {
    // flex-direction: unset;
    justify-content: space-between;
    margin-bottom: 91px;
  }
}

.footer__content-left-side {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100%-1 * 50px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100%-1 * 30px) / 2);
  }
}

.footer__content-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    width: calc((100%-1 * 50px) / 2);
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: calc((100%-1 * 30px) / 2);
  }
}

.socials-list__link {
  background-color: $social-links-bg-color;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $main-pink-color;
  }
}

.social-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 46px;

  @media screen and (min-width: 480px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 46px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 25px;
}
.footer__text {
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.footer__text-base {
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: $pink-text-color;
  text-transform: uppercase;
  // max-width: 510px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
    // max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    // max-width: 474px;
  }
}

.footer__text-accent {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  font-size: 34px;
  line-height: 1.14;
  color: $main-pink-color;
  font-family: Titan One;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.contact-action__tel {
  color: $main-pink-color;
}

.copyright-block {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px $footer-border-color;
  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
.copyright {
  text-align: center;
  font-weight: 700;
  color: $copy-right-color;
  font-family: DM Sans;
  width: 150px;
  font-size: 14px;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.contact-action {
  font-weight: 700;
  color: black;
  text-align: right;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }

  &__tel {
    color: $main-pink-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $pink-text-color;
    }
  }
}
