.container {
  width: 767px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.gallery {
  //   position: relative;
  min-height: 50vh;
  background: linear-gradient(to bottom, #fff5f6 31%, #ffffff 20% 100%);
  //   @media screen and (max-width: 767px) {
  //     min-height: 50vh;
  //     background: linear-gradient(to bottom, #fff5f6 40%, #ffffff 20% 100%);
  //   }
  @media screen and(min-width:768px) {
    background: linear-gradient(to bottom, #fff5f6 27%, #ffffff 10% 100%);
  }
  @media screen and(min-width:1200px) {
    background: linear-gradient(to bottom, #fff5f6 22.8%, #ffffff 4% 100%);
  }
}
// .pictures {
//   position: absolute;
//   width: 100%;
// }
