.title {
  font-family: $text-font-family;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: $main-pink-color;
  margin-top: 15px;
  font-size: 34px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.section-title-label {
  display: block;
  color: $pink-text-color;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.16;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
